.App {
  background-image: url("../../src/images/the-plaza-8.jpg");
  /* experimental variegation */
  background-color: rgba(0)
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  color: red;
}
