.App {
  background-image: url("../../src/images/the-plaza-8.jpg");
  /* experimental variegation */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.home {
  color: rec;
  opacity: 1;
}
