.App {
  background-image: url("../../src/1st_Set_of_Images/the-plaza-6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  

  font-size: 3rem
}

