.display-container {
  /* display: none; */
  font-family: "sans serif font";
}

.call-to-action {
  margin: 30% 5% 1% 5%;
  padding-right: 60%;
  color: white;
}

.call-to-action-button {
  color: white;
  background-color: green;
  margin-left: 5%;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
}

.form-header-1 {
  /* display: none; */
  margin: 5% auto;
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  width: fit-content;
  block-size: fit-content;
  padding: 0 5px;
  border-radius: 30px;
  color: white;
}