.display-container {
  font-family: "sans serif font";
}

.display-header {
  margin: 10% auto;
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  width: fit-content;
  border-radius: 30px;
  color: white;
}

.display-section {
  /* margin: 0  50%; */
  /* margin: 10% 10% 0 0%; */
  text-align: center;
}

.call-to-action {
  padding: 0 35%;
  color: white;
}

.call-to-action-button {
  color: white;
  background-color: green;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.no-display {
  transition-timing-function: ease-out
  display: none;
}
