.display-container {
  display: flex;
  font-family: "sans serif font";
  width: 100vw;
}

.display-statement {

  justify-content: right;
}

.display-header {
  margin: 5% auto;
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  width: fit-content;
  block-size: fit-content;
  padding: 0 5px;
  border-radius: 30px;
  color: white;
}

.display-header {
  margin: 5% auto;
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  width: fit-content;
  block-size: fit-content;
  padding: 0 5px;
  border-radius: 30px;
  color: white;
}

.display-section {
  margin: 30% 0 0 0;
}

.call-to-action {
  padding-right: 60%;
  color: white;
}

.call-to-action-button {
  color: white;
  background-color: green;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
}