.call-to-action {
  margin: 20% 5% 0 5%;
  padding-right: 60%;
}

.call-to-action-button {
  color: white;
  background-color: green;
  margin-left: 5%;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
}
