.display-container {
  display: flex;
  position: absolute;
  font-family: "sans serif font";
  width: 100vw;
}

.display-statement {
  position: relative;
  right: 0;
}

.display-header {
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  width: fit-content;
  block-size: fit-content;
  border-radius: 30px;
  color: white;
}

.display-section {
  margin: 0 0 0 0;
}

.call-to-action {
  padding-right: 60%;
  color: white;
}

.call-to-action-button {
  color: white;
  background-color: green;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
}