.display-container {
  display: flex;
  /* display: none; */
  font-family: "sans serif font";
}

.call-to-action {
  padding-right: 60%;
  color: white;
}

.call-to-action-button {
  color: white;
  background-color: green;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
}

.display-statement {
  /* display: flex; */
  /* position: absolute; */
  justify-content: right;
  /* width: 100vw; */
}

.display-header {
  margin: 5% auto;
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  width: fit-content;
  block-size: fit-content;
  padding: 0 5px;
  border-radius: 30px;
  color: white;
}
