.form-container {
  display: flex;
  background-image: url("../../src/1st_Set_of_Images/the-plaza-7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh
  width: 100vw;
}
