.form-container {
  display: block;
}

.form-header {
  margin: 0 auto;
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  background-color: black;
  width: fit-content;
  block-size: fit-content;
  padding: 5px;
  display: inline-block;
}
