.form-container {
  display: flex;
  justify-content: right;
  /* position: absolute; */
  /* margin-bottom: 0; */
}

.form-statement {
  display: flex;
  position: absolute;
  width: 100vw;
}
.form-header-1 {
  display: none; /* must switch to display: none  through state*/
  margin: 5% auto;
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  width: fit-content;
  block-size: fit-content;
  padding: 0 5px;
  border-radius: 30px;
  color: white;
}

.form-header-2 {
  /* must switch to display: block through state*/
  /* need transitional css set up properly here or through header-1*/
  margin: 5% 0 5% 60%;
  /* position: relative; */
  /* justify-content: right;   */
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  /* width: fit-content; */
  /* block-size: fit-content; */
  /* padding: 0 1px; */
  /* border-radius: 30px; */
  color: white;
}

.form-intake {
  color: white;
  /* margin-left: 35%; */
  margin: 21vh 14vw 0 0;
}

.input-wrapper {
  line-height: 2;
}

.contact-long {
  border-radius: 30px;
  width: 25vw;
}

.contact-medium {

}

.contact-short {
  
}

.inputs-container {
  display: flex;
  justify-content: space-evenly;
  margin-right: 15vw;
}

input[type="radio"] {
  accent-color: black;
}

input[placeholder] {
  padding-left: 5px;
}

button[type="submit"] {
  border-radius: 25px;
}
