.form-container {
  display: flex;
  justify-content: right;
}

.form-statement {
  display: flex;
  position: absolute;
  width: 100vw;
}

.form-header {
  display: none;
  /* must switch to display: block through state*/
  /* need transitional css set up properly here or through header-1*/
  margin: 5% 0 5% 60%;
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  color: white;
}

.form-header::after {
  /* display: none; */
  /* must switch to display: block through state*/
  /* need transitional css set up properly here or through header-1*/
  margin: 5% 0 5% 60%;
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  color: white;
}

.form-intake {
  display: none;
  color: white;
  /* margin-left: 35%; */
  margin: 21vh 12vw 0 0;
}

.form-intake::after {
  /* display: none; */
  color: white;
  /* margin-left: 35%; */
  margin: 21vh 12vw 0 0;
}

.input-wrapper {
  line-height: 2;
}

.contact-long {
  border-radius: 30px;
  width: 25vw;
}

.contact-medium {
  border-radius: 30px;
  width: 16vw;
}

.contact-short {
  border-radius: 30px;
  width: 10vw;
}

.inputs-container {
  display: flex;
  justify-content: space-evenly;
  margin-right: 15vw;
}

.address-two-div,
.state-div {
  float: left;
}

.city-div,
.zip-div {
  float: right;
}

input[type="radio"] {
  accent-color: black;
}

input[placeholder] {
  padding-left: 5px;
}

button[type="submit"] {
  border-radius: 25px;
  margin: 2vh 2vw 0 0vw;
}
