.form-container {
  display: flex;
}

.form-header-1 {
  /* margin: 5% auto; */
  : enter;
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  /* background-color: black; */
  width: fit-content;
  block-size: fit-content;
  padding: 0 5px;
  display: inline-block;
  border-radius: 30px;
  color: white;
}

.form-header-2 {
  display: none;
}
