.form-container {
  display: grid;
}

.form-header-1 {
  display: none;
  margin: 5% auto;
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  width: fit-content;
  block-size: fit-content;
  padding: 0 5px;
  border-radius: 30px;
  color: white;
}

.form-header-2 {
  display: block;
  margin: 5% 0 5% 50%;
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  width: fit-content;
  block-size: fit-content;
  padding: 0 1px;
  border-radius: 30px;
  color: white;
  /* need transitional css */
}
