.form-container {
  display: flex;
  justify-content: right;
  font-family: "Raleway";
  line-height: 2
}

.form-statement {
  display: flex;
  position: absolute;
  width: 100vw;
}

.form-header-off {
  display: none;
}

.form-header-on {
  margin: 2% 0 0 60%;
  /* font-family: Imprint MT Shadow; */
  font-size: 2rem;
  color: white;
}

.form-intake-on {
  color: white;
  margin: 14vh 12vw 0 0;
}

.form-intake-off {
  display: none;
}

.input-wrapper {
  line-height: 2;
}

.contact-long {
  border-radius: 30px;
  width: 25vw;
}

.contact-medium {
  border-radius: 30px;
  width: 16vw;
}

.contact-short {
  border-radius: 30px;
  width: 10vw;
}

.inputs-container {
  display: flex;
  justify-content: space-evenly;
  margin-right: 15vw;
}

.address-two-div,
.state-div {
  float: left;
}

.city-div,
.zip-div {
  float: right;
}

input[type="radio"] {
  accent-color: black;
}

input[placeholder] {
  padding-left: 5px;
}
/* 
.state-zip {
  margin-bottom: 15vh; controls space above button div
} */

.policies-div {
  margin: 20vh 0;
}


button[type="submit"] {
  border-radius: 25px;
  color: white;
  background-color: green;
}
