.form-container {
  display: flex;
}

.form-header {
  margin: 5% auto;
  font-family: Imprint MT Shadow;
  font-size: 2rem;
  background-color: black;
  width: fit-content;
  block-size: fit-content;
  padding: 0 5px;
  display: inline-block;
  border-radius: 30px

}
