.no-display-page {
  transition-timing-function: ease-out;
  transition: 2s;
  transform: translateY(130%);
}

.display-form-intake {
  transition-timing-function: ease-out;
  transition: 0.25s;
  transform: translateY(0);
}
