.logo-container {
  /* orange box concept for a logo */
  /* width: 1rem;
  height: 1rem; */

  width: 120px;
  height: 100px;
}

#asp-logo {
  background-image: url("../tf_logo/TicketFree.jpg");
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
}
