.logo-container {
  /* orange box concept for a logo */
  /* width: 1rem;
  height: 1rem; */
}

#asp-logo {
  background-image: url("../tf_logo/TicketFree.jpg");
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%
}
