.logo-container {
  /* orange box concept for a logo */
  /* width: 1rem;
  height: 1rem; */

  width: 10px;
  height: 10px;
}

#asp-logo {
  background-image: url("../tf_logo/TicketFree.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
