#asp-logo {
  background-image: url("../tf_logo/TicketFree.jpg");
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  width: 1%;
  height: 30%;
  background-color: blue;
  padding: 100px;
}
