.App {
}

.App-header {
}

.flexing {
  display: flex;
  justify-content: space-evenly;
}

.sub-header-1 {
  background-color: lightgreen;
  color: white;
}

.sub-header-2 {
  background-color: white;
  color: white;
}

.sub-header-3 {
  background-color: lightgrey;
  color: white;
}
