.display-container {
    width: 100vw;
    height: 100vh;
    padding: 2em 0 0 5em;
}

.display-section {
    padding: 2em;
    line-height: 1;
}

.display-container div p {
    font-family: "Raleway";
    color: white;
    /* background-color: #000000; */
    font-size: 2em;
    
}
