.display-container {
  font-family: "Raleway";
}

.display-header {
  /* margin: 8% auto; */
  margin: 5% auto;
  /* font-family: Imprint MT Shadow; */
  font-size: 2rem;
  width: fit-content;
  border-radius: 30px;
  color: white;
}

.display-section {
  /* margin: 0  50%; */
  /* margin: 10% 10% 0 0%; */
  text-align: center;
}

.call-to-action {
  font-size: 1.3rem;
  padding: 0 15%;
  color: white;
}

.call-to-action-button {
  color: white;
  background-color: green;
  border: none;
  border-radius: 30px;
  margin: 5em 0;
  font-size: 1rem;
  cursor: pointer;
}

.no-display {
  display: none;
}
