.form-container {
  margin: 15em;
}

.form-on {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.form-off {
  display: none;
}

.user-form > * {
  margin: 5% 0%;
}

.submit-button {
  cursor: pointer;
}