.formInput {
  align-items: left;
  justify-content: left;
}

.section-1 {
  flex-direction: row;
}

.section-2 {
  /* display: flex; */
  /* flex-direction: column; */
}

label {
  width: 8em;
  display: inline-flex;
}

input {
  width: 15vw;
  border-radius: 30px;
  display: inline-flex;
}

input:placeholder-shown {
  padding-left: 0.5em;
}

input[type="text"] {
  padding: 0 0.5em;
}

p {
  color: red;
  /* margin-top: 2px; */
  align-self: flex-start;
}
