.form-container {
  display: flex;
  margin: 3em;
}

label {
  color: white;
}

.form-on {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.form-off {
  display: none;
}

.user-form > * {
  margin: 4% 0%;
}

input[name="Zip Code"] {
  width: 4;
}
 
.submit-button {
  color: white;
  background-color: green;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}