.formInput {
  display: flex;
  align-items: left;
  justify-content: left;
}

label {
  padding-right: 2vw;
  width: 8em;
  
}

input {
  width: 15vw;
  border-radius: 30px;
}

input:placeholder-shown {
  padding-left: 0.5em;
}