label {
  width: 8em;
  display: inline-flex;
}

select {
  width: 15vw;
  border-radius: 30px;
  display: inline-flex;
  padding-left: 0.4em;
}

select {
  color: gray
}

select:after {
  color: black;
}