.thanks-display-perm {
    width: 100vw;
    /* height: 100vh; */

}

.thanks-display-on {
    display: in-line flex;
}

.thanks-display-off {
    display: none;
}

.thanks-display-perm p {
    color: white;
    font-size: 1.5em;
    font-family: "Raleway";
    font-weight: 700;
    padding: 2vh 15vw;



}