.thanks-display-on {
    /* display: flex; */
    width: 100vw;
    height: 100vh;
    padding: 3em 0 0 10em;;
}

.thanks-display-off {
    display: none;
}


.thanks-display p {
    color: white;
    font-size: 2em;
    font-family: "Raleway"

}