.thanks-display-perm {
    padding: 3em;

}

.thanks-display-on {
    display: flex;
}

.thanks-display-off {
    display: none;
}

.thanks-display-perm p {
    color: white;
    font-size: 2em;
    font-family: "Raleway"

}